CREATE CATEGORY:
<div>
	<input type="text" [(ngModel)]="name">
	<button (click)="createTaskList()">CREATE</button>
</div>

TASK_LISTS:

<ng-container *ngIf="!loading">
	...Loading
</ng-container>

<ng-container *ngIf="loading">
	<div>
		<div *ngFor="let list of task_lists" (click)="getTasks(list)">
			<span (click)="getTasks(list)">
				<input type="text" [(ngModel)]="list.name">
			</span>
			<span (click)="deleteTaskList(list)">Delete</span>
			<span (click)="updateTaskList(list)">Update</span>				
		</div>
	</div>
</ng-container>

<br/>
TASKS:

<div>
	<div *ngFor="let task of tasks">{{task.id}} - {{task.name}} - {{task.created_at}} - {{task.due_on}}</div>
</div>




