.main
{
    background-color: rgb(59, 89, 152);
    width: 100%;
    height: 105px;
}
.first
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.logo
{
    float: left;
    width: 200px;
    height: 60px;
    margin-top: 9px
}
.signin
{
    float: right;
    font-family: "Arial";
    font-size: 12px;
    margin-top: 1px;
    color: white;
}
.signin p
{
    margin-left: 12px;
}
.signin a
{
    text-decoration: none;
    color: rgb(177, 172, 172);
}
.login
{
    width: 150px;
    height: 17px;
    margin-left: 12px;
}
#button
{
    margin-left: 10px;
    background-color: royalblue;
    color: white;
    font-family: "Arial";
    padding: 5px 5px 5px 5px;
    border: none;
    border-radius: 3px;
    margin-left: 5px;
}
.info
{
    position: fixed;    
    width: 100%;
    height: 700px;
    background: rgb(237, 239, 247);
}
.left
{
    float: left;    
    margin-top: 30px;
    width: 500px;
    margin-left: 470px;
}
.left-text
{
    margin-top: 9px;
    margin-bottom: 9px;
    font-size: 20px;
    font-family: "Arial";
    font-weight: bold;
    color: rgb(5, 25, 85);
}
.right
{
    left: 1100px;
    position: fixed;
    float: right;
    font-family: "Arial";
    margin-top: 20px;
}
.right-text
{
    margin-right: 590px;
}
.right p
{
    margin-top: 13px;
    font-family: "Arial";
}
.namesur
{
    margin-top: 17px;
    border-radius: 5px;
    border: 1px solid;
    width: 213px;
    height: 30px;
    font-size: 20px;
    padding-left: 10px;
}
.emailpass
{
    font-size: 20px;
    padding-left: 10px;
    border: 1px solid;
    width: 444px;
    height: 30px;
    margin-top: 10px;
    border-radius: 5px;
}
.day,
.month,
.year
{
    margin-top: 10px;
    width: 75px;
    height: 35px;
    float: left;
    padding-left: 5px;
}
.gender
{
    margin-top: 20px;
    margin-left: 5px;
    font-family: "Arial";
    
}

.info a
{
    text-decoration: none;
    font-size: 12px;
}

.text
{
    color: grey;
    width: 350px;
    font-size: 15px;
}
#registration{
    margin-top: 20px;
    background-color: green;
    border-radius: 5px;
    width: 160px;
    height: 40px;
    color: rgb(255, 255, 255);
    font-style: "Arial";
    font-size: 20px;
    border: 2px solid #07a007;
    font-weight: bold;
}
.addition {
    font-size: 15px;
    color: gray;    
    font-weight: bold;
    font-style: "Arial";
}